.product-content {
  display: flex;
  /*width: 750px;*/
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  padding: 10px;
  height: 250px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.card-shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
