<div class="product-content card-shadow" *ngIf="product">
  <div class="product-image">
    <img width="150" height="150" src="./assets/laptop.jfif"  alt="Test">
  </div>
  <div class="product-info">
    <div class="product-review">
      <div class="stars">
        <i class='fas fa-star'></i>
        <i class='fas fa-star'></i>
        <i class='fas fa-star'></i>
        <i class='fas fa-star'></i>
        <i class='fas fa-star'></i>
      </div>
      <div *ngIf="product.reviews">
        {{product.reviews.reviewers.length}} review-uri
      </div>
    </div>
    <div class="product-details">
      <h4><b>{{product.name}}</b></h4>
    </div>
  </div>

  <div class="product-buy">
    <div class="product-stock">
      <p class="stock-available" *ngIf="product.stock!==0 && product.stock>=10">in stoc</p>
      <p class="stock-gone" *ngIf="product.stock===0">stoc epuizat</p>
      <p class="stock-available" *ngIf="product.stock!==0 && product.stock<10">last products!</p>
    </div>
    <div class="product-price">
      <h2>{{product.price | price : product.currency }}</h2>
    </div>
    <div class="add-button">
      <div class="cart-icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <p>Adauga in cos</p>
    </div>
  </div>
</div>
