<div class="home-products-header card-shadow">
  <div class="home-products-header-title">
    <h1>Food</h1>
    <h2>1779 products</h2>
  </div>
  <hr>
  <div class="home-products-header-filter">
    <div class="home-products-header-select-wrapper">
      <label for="search-item">Name</label>
      <input id="search-item">
    </div>
    <div class="home-products-header-select-wrapper">
      <label for="type-select">Type</label>
      <select id="type-select">
        <option value="" disabled selected>Selecteaza...</option>
      </select>
    </div>
    <div class="home-products-header-select-wrapper">
      <label for="allergies-select">Allergies</label>
      <select id="allergies-select">
        <option value="" disabled selected>Selecteaza...</option>
      </select>
    </div>
  </div>
</div>
