<app-custom-navbar></app-custom-navbar>
<div class="home-content">
  <div class="home-breadcrumbs card-shadow">
    <app-breadcrumbs (showFoodStuffEvent)="showFoodStuff()" (showStuffEvent)="showStuff()" (showFoodEvent)="showFood()"></app-breadcrumbs>
  </div>
  <div class="home-products">
   <div class="home-products-header card-shadow">
     <app-header (selectedTypeEvent)="filterByFoodType($event)" (selectedAllergyEvent)="filterByAllergy($event)" [typeOfProducts]="productsType" [products]="products" (triggerChart)="triggerChartView()" (triggerGrouped)="triggerGroupedView()"></app-header>
   </div>
    <div *ngIf="loading" class="loading-products">
      <mat-spinner></mat-spinner>
    </div>
    <app-products (addToCartEvent)="addToCart($event)" *ngIf="chartView" [products]="products"></app-products>
    <app-products-grouped-view (addToCartEvent)="addToCart($event)" *ngIf="!chartView" [products]="products"></app-products-grouped-view>
  </div>
  <div class="cart-space">
    <app-cart (deleteItemEvent)="deleteFromCart($event)" [cart]="cart"></app-cart>
  </div>
</div>
